.quiz {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .question-section {
    grid-column: 1 / -1;
  }
  
  .options-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
    button {
    padding:5px 20px;
    border-radius: 10px;

}  
.score {
  background-color: rgb(18, 19, 20);
  border-radius: 10px;
}