nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  margin-left: 15px;
  color: #313030;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0px;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: rgb(217, 217, 217);
  z-index: 1;
}

